<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Streaming Markdown Webview</title>
        <link rel="stylesheet" href="katex.min.css">
        <style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe WUI",
                    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
                    "Droid Sans", "Helvetica Neue", sans-serif;
                padding: 25px 50px;
            }
        </style>
    </head>
    <body>
        <div id="container"></div>
        <script>
            const vscode = acquireVsCodeApi();
            window.addEventListener("message", (event) => {
                const message = event.data;
                const contentElement = document.getElementById(message.id);
                contentElement.innerHTML = message.text;
            });
        </script>
    </body>
</html>
